*{
	margin:0;
	padding:  0;
	border: none;

}
.khoi {
	background-color: yellow;
	width: 200px;
	height: 200px;
	margin: auto;
	margin-top: 100px;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.khoi img {
	height: 150px;
	width: 150px;
}
.khoi h2 {
    background-color: #706E6E;
    height: 40px;
    width: 200px;
   padding-top: 10px;
   position: absolute;
   bottom: -50px;	
}
.khoi:hover h2 {
	bottom: 0px;
}
